@font-face{
  font-family:'EntypoRegular';
  src:url('../fonts/entypo.eot');
  src:url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/entypo.woff') format('woff'),
    url('../fonts/entypo.ttf') format('truetype'),
    url('../fonts/entypo.svg#EntypoRegular') format('svg');
  font-weight:normal;
  font-style:normal
}

/* ICONS */
.icon:before{
  font-family: 'EntypoRegular';
  font-size: 1.5em;
  margin-right:5px;
  font-weight: normal;
}

.icon.phone:before{ content: '\1F4DE'; }
.icon.mobile:before{ content: '\1F4F1'; }
.icon.mouse:before{ content: '\UE789'; }
.icon.address:before{ content: '\UE723'; }
.icon.mail:before{ content: '\U2709'; }
.icon.paper-plane:before{ content: '\1F53F'; }
.icon.pencil:before{ content: '\U270E'; }
.icon.feather:before{ content: '\U2712'; }
.icon.attach:before{ content: '\1F4CE'; }
.icon.inbox:before{ content: '\UE777'; }
.icon.reply:before{ content: '\UE712'; }
.icon.reply-all:before{ content: '\UE713'; }
.icon.forward:before{ content: '\U27A6'; }
.icon.user:before{ content: '\1F464'; }
.icon.users:before{ content: '\1F465'; }
.icon.add-user:before{ content: '\UE700'; }
.icon.vcard:before{ content: '\UE722'; }
.icon.export:before{ content: '\UE715'; }
.icon.location:before{ content: '\UE724'; }
.icon.map:before{ content: '\UE727'; }
.icon.compass:before{ content: '\UE728'; }
.icon.direction:before{ content: '\U27A2'; }
.icon.hair-cross:before{ content: '\1F3AF'; }
.icon.share:before{ content: '\UE73C'; }
.icon.shareable:before{ content: '\UE73E'; }
.icon.heart:before{ content: '\U2665'; }
.icon.heart-empty:before{ content: '\U2661'; }
.icon.star:before{ content: '\U2605'; }
.icon.star-empty:before{ content: '\U2606'; }
.icon.thumbs-up:before{ content: '\1F44D'; }
.icon.thumbs-down:before{ content: '\1F44E'; }
.icon.chat:before{ content: '\UE720'; }
.icon.comment:before{ content: '\UE718'; }
.icon.quote:before{ content: '\U275E'; }
.icon.home:before{ content: '\U2302'; }
.icon.popup:before{ content: '\UE74C'; }
.icon.search:before{ content: '\1F50D'; }
.icon.flashlight:before{ content: '\1F526'; }
.icon.print:before{ content: '\UE716'; }
.icon.bell:before{ content: '\1F514'; }
.icon.link:before{ content: '\1F517'; }
.icon.flag:before{ content: '\U2691'; }
.icon.cog:before{ content: '\U2699'; }
.icon.tools:before{ content: '\U2692'; }
.icon.trophy:before{ content: '\1F3C6'; }
.icon.tag:before{ content: '\UE70C'; }
.icon.camera:before{ content: '\1F4F7'; }
.icon.megaphone:before{ content: '\1F4E3'; }
.icon.moon:before{ content: '\U263D'; }
.icon.palette:before{ content: '\1F3A8'; }
.icon.leaf:before{ content: '\1F342'; }
.icon.note:before{ content: '\U266A'; }
.icon.beamed-note:before{ content: '\U266B'; }
.icon.new:before{ content: '\1F4A5'; }
.icon.graduation-cap:before{ content: '\1F393'; }
.icon.book:before{ content: '\1F4D5'; }
.icon.newspaper:before{ content: '\1F4F0'; }
.icon.bag:before{ content: '\1F45C'; }
.icon.airplane:before{ content: '\U2708'; }
.icon.lifebuoy:before{ content: '\UE788'; }
.icon.eye:before{ content: '\UE70A'; }
.icon.clock:before{ content: ' \1F554 '; }
.icon.mic:before{ content: '\1F3A4'; }
.icon.calendar:before{ content: '\1F4C5'; }
.icon.flash:before{ content: '\U26A1'; }
.icon.thunder-cloud:before{ content: '\U26C8'; }
.icon.droplet:before{ content: '\1F4A7'; }
.icon.cd:before{ content: '\1F4BF'; }
.icon.briefcase:before{ content: '\1F4BC'; }
.icon.air:before{ content: '\1F4A8'; }
.icon.hourglass:before{ content: '\U23F3'; }
.icon.gauge:before{ content: '\1F6C7'; }
.icon.language:before{ content: '\1F394'; }
.icon.network:before{ content: '\UE776'; }
.icon.key:before{ content: '\1F511'; }
.icon.battery:before{ content: '\1F50B'; }
.icon.bucket:before{ content: '\1F4FE'; }
.icon.magnet:before{ content: '\UE7A1'; }
.icon.drive:before{ content: '\1F4FD'; }
.icon.cup:before{ content: '\U2615'; }
.icon.rocket:before{ content: '\1F680'; }
.icon.brush:before{ content: '\UE79A'; }
.icon.suitcase:before{ content: '\1F6C6'; }
.icon.traffic-cone:before{ content: '\1F6C8'; }
.icon.globe:before{ content: '\1F30E'; }
.icon.keyboard:before{ content: '\U2328'; }
.icon.browser:before{ content: '\UE74E'; }
.icon.publish:before{ content: '\UE74D'; }
.icon.progress-3:before{ content: '\UE76B'; }
.icon.progress-2:before{ content: '\UE76A'; }
.icon.progress-1:before{ content: '\UE769'; }
.icon.progress-0:before{ content: '\UE768'; }
.icon.light-down:before{ content: '\1F505'; }
.icon.light-up:before{ content: '\1F506'; }
.icon.adjust:before{ content: '\U25D1'; }
.icon.code:before{ content: '\UE714'; }
.icon.monitor:before{ content: '\1F4BB'; }
.icon.infinity:before{ content: '\U221E'; }
.icon.light-bulb:before{ content: '\1F4A1'; }
.icon.credit-card:before{ content: '\1F4B3'; }
.icon.database:before{ content: '\1F4F8'; }
.icon.voicemail:before{ content: '\U2707'; }
.icon.clipboard:before{ content: '\1F4CB'; }
.icon.cart:before{ content: '\UE73D'; }
.icon.box:before{ content: '\1F4E6'; }
.icon.ticket:before{ content: '\1F3AB'; }
.icon.rss:before{ content: '\UE73A'; }
.icon.signal:before{ content: '\1F4F6'; }
.icon.thermometer:before{ content: '\1F4FF'; }
.icon.water:before{ content: '\1F4A6'; }
.icon.sweden:before{ content: '\UF601'; }
.icon.line-graph:before{ content: '\1F4C8'; }
.icon.pie-chart:before{ content: '\U25F4'; }
.icon.bar-graph:before{ content: '\1F4CA'; }
.icon.area-graph:before{ content: '\1F53E'; }
.icon.lock:before{ content: '\1F512'; }
.icon.lock-open:before{ content: '\1F513'; }
.icon.logout:before{ content: '\UE741'; }
.icon.login:before{ content: '\UE740'; }
.icon.check:before{ content: '\U2713'; }
.icon.cross:before{ content: '\U274C'; }
.icon.squared-minus:before{ content: '\U229F'; }
.icon.squared-plus:before{ content: '\U229E'; }
.icon.squared-cross:before{ content: '\U274E'; }
.icon.circled-minus:before{ content: '\U2296'; }
.icon.circled-plus:before{ content: '\U2295'; }
.icon.circled-cross:before{ content: '\U2716'; }
.icon.minus:before{ content: '\U2796'; }
.icon.plus:before{ content: '\U2795'; }
.icon.erase:before{ content: '\U232B'; }
.icon.block:before{ content: '\1F6AB'; }
.icon.info:before{ content: '\U2139'; }
.icon.circled-info:before{ content: '\UE705'; }
.icon.help:before{ content: '\U2753'; }
.icon.circled-help:before{ content: '\UE704'; }
.icon.warning:before{ content: '\U26A0'; }
.icon.cycle:before{ content: '\1F504'; }
.icon.cw:before{ content: '\U27F3'; }
.icon.ccw:before{ content: '\U27F2'; }
.icon.shuffle:before{ content: '\1F500'; }
.icon.back:before{ content: '\1F519'; }
.icon.level-down:before{ content: '\U21B3'; }
.icon.retweet:before{ content: '\UE717'; }
.icon.loop:before{ content: '\1F501'; }
.icon.back-in-time:before{ content: '\UE771'; }
.icon.level-up:before{ content: '\U21B0'; }
.icon.switch:before{ content: '\U21C6'; }
.icon.numbered-list:before{ content: '\UE005'; }
.icon.add-to-list:before{ content: '\UE003'; }
.icon.layout:before{ content: '\U268F'; }
.icon.list:before{ content: '\U2630'; }
.icon.text-doc:before{ content: '\1F4C4'; }
.icon.text-doc-inverted:before{ content: '\UE731'; }
.icon.doc:before{ content: '\UE730'; }
.icon.docs:before{ content: '\UE736'; }
.icon.landscape-doc:before{ content: '\UE737'; }
.icon.picture:before{ content: '\1F304'; }
.icon.video:before{ content: '\1F3AC'; }
.icon.music:before{ content: '\1F3B5'; }
.icon.folder:before{ content: '\1F4C1'; }
.icon.archive:before{ content: ' \UE800 '; }
.icon.trash:before{ content: '\UE729'; }
.icon.upload:before{ content: '\1F4E4'; }
.icon.download:before{ content: '\1F4E5'; }
.icon.save:before{ content: '\1F4BE'; }
.icon.install:before{ content: '\UE778'; }
.icon.cloud:before{ content: '\U2601'; }
.icon.upload-cloud:before{ content: '\UE711'; }
.icon.bookmark:before{ content: '\1F516'; }
.icon.bookmarks:before{ content: '\1F4D1'; }
.icon.open-book:before{ content: '\1F4D6'; }
.icon.play:before{ content: '\U25B6'; }
.icon.paus:before{ content: '\U2016'; }
.icon.record:before{ content: '\U25CF'; }
.icon.stop:before{ content: '\U25A0'; }
.icon.ff:before{ content: '\U23E9'; }
.icon.fb:before{ content: '\U23EA'; }
.icon.to-start:before{ content: '\U23EE'; }
.icon.to-end:before{ content: '\U23ED'; }
.icon.resize-full:before{ content: '\UE744'; }
.icon.resize-small:before{ content: '\UE746'; }
.icon.volume:before{ content: '\U23F7'; }
.icon.sound:before{ content: '\1F50A'; }
.icon.mute:before{ content: '\1F507'; }
.icon.flow-cascade:before{ content: '\1F568'; }
.icon.flow-branch:before{ content: '\1F569'; }
.icon.flow-tree:before{ content: '\1F56A'; }
.icon.flow-line:before{ content: '\1F56B'; }
.icon.flow-parallel:before{ content: '\1F56C'; }
.icon.left-bold:before{ content: '\UE4AD'; }
.icon.down-bold:before{ content: '\UE4B0'; }
.icon.up-bold:before{ content: '\UE4AF'; }
.icon.right-bold:before{ content: '\UE4AE'; }
.icon.left:before{ content: '\U2B05'; }
.icon.down:before{ content: '\U2B07'; }
.icon.up:before{ content: '\U2B06'; }
.icon.right:before{ content: '\U27A1'; }
.icon.circled-left:before{ content: '\UE759'; }
.icon.circled-down:before{ content: '\UE758'; }
.icon.circled-up:before{ content: '\UE75B'; }
.icon.circled-right:before{ content: '\UE75A'; }
.icon.triangle-left:before{ content: '\U25C2'; }
.icon.triangle-down:before{ content: '\U25BE'; }
.icon.triangle-up:before{ content: '\U25B4'; }
.icon.triangle-right:before{ content: '\U25B8'; }
.icon.chevron-left:before{ content: '\UE75D'; }
.icon.chevron-down:before{ content: '\UE75C'; }
.icon.chevron-up:before{ content: '\UE75F'; }
.icon.chevron-right:before{ content: '\UE75E'; }
.icon.chevron-small-left:before{ content: '\UE761'; }
.icon.chevron-small-down:before{ content: '\UE760'; }
.icon.chevron-small-up:before{ content: '\UE763'; }
.icon.chevron-small-right:before{ content: '\UE762'; }
.icon.chevron-thin-left:before{ content: '\UE765'; }
.icon.chevron-thin-down:before{ content: '\UE764'; }
.icon.chevron-thin-up:before{ content: '\UE767'; }
.icon.chevron-thin-right:before{ content: '\UE766'; }
.icon.left-thin:before{ content: '\U2190'; }
.icon.down-thin:before{ content: '\U2193'; }
.icon.up-thin:before{ content: '\U2191'; }
.icon.right-thin:before{ content: '\U2192'; }
.icon.arrow-combo:before{ content: '\UE74F'; }
.icon.three-dots:before{ content: '\U23F6'; }
.icon.two-dots:before{ content: '\U23F5'; }
.icon.dot:before{ content: '\U23F4'; }
.icon.cc:before{ content: '\1F545'; }
.icon.cc-by:before{ content: '\1F546'; }
.icon.cc-nc:before{ content: '\1F547'; }
.icon.cc-nc-eu:before{ content: '\1F548'; }
.icon.cc-nc-jp:before{ content: '\1F549'; }
.icon.cc-sa:before{ content: '\1F54A'; }
.icon.cc-nd:before{ content: '\1F54B'; }
.icon.cc-pd:before{ content: '\1F54C'; }
.icon.cc-zero:before{ content: '\1F54D'; }
.icon.cc-share:before{ content: '\1F54E'; }
.icon.cc-remix:before{ content: '\1F54F'; }
.icon.db-logo:before{ content: '\1F5F9'; }
.icon.db-shape:before{ content: '\1F5FA'; }
.icon.github:before{ content: '\UF300'; }
.icon.c-github:before{ content: '\UF301'; }
.icon.flickr:before{ content: '\UF303'; }
.icon.c-flickr:before{ content: '\UF304'; }
.icon.vimeo:before{ content: '\UF306'; }
.icon.c-vimeo:before{ content: '\UF307'; }
.icon.twitter:before{ content: '\UF309'; }
.icon.c-twitter:before{ content: '\UF30A'; }
.icon.facebook:before{ content: '\UF30C'; }
.icon.c-facebook:before{ content: '\UF30D'; }
.icon.s-facebook:before{ content: '\UF30E'; }
.icon.google+:before{ content: '\UF30F'; }
.icon.c-google+:before{ content: '\UF310'; }
.icon.pinterest:before{ content: '\UF312'; }
.icon.c-pinterest:before{ content: '\UF313'; }
.icon.tumblr:before{ content: '\UF315'; }
.icon.c-tumblr:before{ content: '\UF316'; }
.icon.linkedin:before{ content: '\UF318'; }
.icon.c-linkedin:before{ content: '\UF319'; }
.icon.dribbble:before{ content: '\UF31B'; }
.icon.c-dribbble:before{ content: '\UF31C'; }
.icon.stumbleupon:before{ content: '\UF31E'; }
.icon.c-stumbleupon:before{ content: '\UF31F'; }
.icon.lastfm:before{ content: '\UF321'; }
.icon.c-lastfm:before{ content: '\UF322'; }
.icon.rdio:before{ content: '\UF324'; }
.icon.c-rdio:before{ content: '\UF325'; }
.icon.spotify:before{ content: '\UF327'; }
.icon.c-spotify:before{ content: '\UF328'; }
.icon.qq:before{ content: '\UF32A'; }
.icon.instagram:before{ content: '\UF32D'; }
.icon.dropbox:before{ content: '\UF330'; }
.icon.evernote:before{ content: '\UF333'; }
.icon.flattr:before{ content: '\UF336'; }
.icon.skype:before{ content: '\UF339'; }
.icon.c-skype:before{ content: '\UF33A'; }
.icon.renren:before{ content: '\UF33C'; }
.icon.sina-weibo:before{ content: '\UF33F'; }
.icon.paypal:before{ content: '\UF342'; }
.icon.picasa:before{ content: '\UF345'; }
.icon.soundcloud:before{ content: '\UF348'; }
.icon.mixi:before{ content: '\UF34B'; }
.icon.behance:before{ content: '\UF34E'; }
.icon.google-circles:before{ content: '\UF351'; }
.icon.vk:before{ content: '\UF354'; }
.icon.smashing:before{ content: '\UF357'; }
